body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.inlineBlock {
    display: inline-block;
    font-weight: normal;
}
.editFieldGrid {
    padding: 0 6px;
    color: black !important;
    height: 23px !important;
    font-size: 8pt !important;
}

.table-footer {
    color: #468847;
    background-color: #dff0d8;
}

.table-header {
    color: #468847;
    background-color: #dff0d8;
}